In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.neighbors import NearestNeighbors
from sklearn.metrics.pairwise import linear_kernel
from sklearn.metrics.pairwise import sigmoid_kernel
from sklearn.feature_extraction.text import TfidfVectorizer
import matplotlib.pyplot as plt
import sklearn
import string

In [2]:
movies = pd.read_csv('tmdb_movies_data.csv')

In [3]:
movies.head()
movies.drop(columns=['budget_adj','revenue_adj','budget','imdb_id','id'], inplace= True)
movies.set_index(movies.original_title, inplace=True)

In [4]:
movies.drop(columns=['homepage','production_companies','release_date'], inplace= True)
movies.rename(columns={"original_title": "Title", "popularity": "Popularity", "revenue":"Revenue", 
                       "cast":"Actors", "director":"Director","tagline":"Tags","keywords":"Keywords",
                       "runtime":"Duration","genres":"Genre", "vote_average":"Rate","release_year":"Year", 
                       "vote_count": "Votes", "overview":"Overview"},inplace=True)

In [5]:
movies.sort_values('Popularity', ascending=False, inplace=True)

In [6]:
movies = movies.reset_index(drop=True)

In [7]:
movies.drop(columns=['Revenue'], inplace= True)
movies.head()

,Popularity,Title,Actors,Director,Tags,Keywords,Overview,Duration,Genre,Votes,Rate,Year
0,32.985763,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,monster|dna|tyrannosaurus rex|velociraptor|island,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,5562,6.5,2015
1,28.419936,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,future|chase|post-apocalyptic|dystopia|australia,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,6185,7.1,2015
2,24.949134,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,saving the world|artificial intelligence|fathe...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,6498,8.0,2014
3,14.311205,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,marvel comic|spaceship|space|scene during end ...,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,5612,7.9,2014
4,13.112507,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,based on novel|revolution|dystopia|sequel|dyst...,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,2480,6.3,2015

In [8]:
movies.shape

(10866, 12)

In [9]:
movies.drop(columns=['Tags'], inplace= True)

In [10]:
movies.head()

,Popularity,Title,Actors,Director,Keywords,Overview,Duration,Genre,Votes,Rate,Year
0,32.985763,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,monster|dna|tyrannosaurus rex|velociraptor|island,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,5562,6.5,2015
1,28.419936,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,future|chase|post-apocalyptic|dystopia|australia,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,6185,7.1,2015
2,24.949134,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,saving the world|artificial intelligence|fathe...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,6498,8.0,2014
3,14.311205,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,marvel comic|spaceship|space|scene during end ...,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,5612,7.9,2014
4,13.112507,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,based on novel|revolution|dystopia|sequel|dyst...,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,2480,6.3,2015

In [11]:
movies.Keywords = movies.Keywords.str.replace('[{}]'.format(string.punctuation), ' ')
movies.Actors = movies.Actors.str.replace('[{}]'.format(string.punctuation), ' ')
movies.Genre = movies.Genre.str.replace('[{}]'.format(string.punctuation), ' ')
movies.Director = movies.Director.str.replace('[{}]'.format(string.punctuation), ' ')

In [12]:
movies.Keywords = movies.Keywords.fillna('')
movies.Actors = movies.Actors.fillna('')

In [13]:
movies.to_csv('movies_clean.csv')